.todoItem {
    width: 35ch;
    background-color: var(--second-bg-color);
    color: var(--black);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3ch;
    border-radius: 15px;
    box-shadow: 2px 2px 20px var(--main-black-color)
}

.todoItem-completed {
    background-color: var(--main-green-color);
    box-shadow: 2px 2px 20px var(--main-green-color);
}

.todoItem-text {
    margin: 20px;
    font-size: 20px;
    max-width: 25ch;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    padding: .3em;
}

.fa-solid {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
}

.fa-square-check {
    left: -5px;
    top: -5px;
}


.check-completed {
    color: linear-gradient(to right, var(--black), var(--white));
    pointer-events: none;
}

.fa-square-xmark {
    bottom: -5px;
    right: -5px;
}


@media (min-width: 992px) {
    .fa-square-check:hover {
        scale: 1.3;
        color: var(--main-green-color);
    }

    .fa-square-xmark:hover {
        scale: 1.3;
        color: var(--main-red-color);
    }
}