.todoItem {
    width: 35ch;
    background-color: #f8fbfa;
    color: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3ch;
    border-radius: 15px;
    box-shadow: 2px 2px 20px #10170d
}

.todoItem-completed {
    background-color: #7fb888;
    box-shadow: 2px 2px 20px #7fb888;
}

.todoItem-text {
    margin: 20px;
    font-size: 20px;
    max-width: 25ch;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    padding: .3em;
}

.fa-solid {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
}

.fa-square-check {
    left: -5px;
    top: -5px;
}

.fa-square-check:hover {
    scale: 1.3;
    color: #7fb888;
}

.check-completed {
    color: linear-gradient(to right, #000, #fff);
    pointer-events: none;
}

.fa-square-xmark {
    bottom: -5px;
    right: -5px;
}

.fa-square-xmark:hover {
    scale: 1.3;
    color: #F65151;
}