.loader {
    height: 150px;
    position: relative;
    top: 30vh;
}

.loader:before,
.loader:after {
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    position: relative;
    margin: 10px auto;
    border-radius: 50%;
    color: #000;
    background: currentColor;
    box-shadow: 0 50px, 0 100px;
    animation: left 1s infinite ease-in-out;
}

.loader:after {
    animation: right 1.1s infinite ease-in-out;
}


@keyframes right {

    0%,
    100% {
        transform: translate(-15px);
    }

    50% {
        transform: translate(15px);
    }
}

@keyframes left {

    0%,
    100% {
        transform: translate(15px);
        color: #fff;
    }

    50% {
        transform: translate(-15px);
    }
}