.todosSearchBox {
    text-align: center;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid var(--main-green-color);
    font-size: 1.5em;
    color: #000;
    margin-bottom: 2ch;
}

.todosSearchBox:focus {
    outline: none;
    scale: 1.1;
}