.satusHeader {
    color: var(--main-black-color);
    text-align: center;
    margin: 1.5ch 2ch 4ch;
    font-size: .9rem;
}

.satusHeader-message-completed {
    display: none;
    color: var(--black);
    text-decoration: underline solid .4em var(--main-yellow-color);
}

.satusHeader-message-completed p {
    margin-top: 0;
}

.satusHeader-message {
    margin-bottom: .1em;
}

.satusHeader-progress,
.satusHeader-progress_inner {
    height: 3ch;
    border-radius: 1em;
}

.satusHeader-progress {
    position: sticky;
    width: 100%;
    background-color: #000000a5;
}

.satusHeader-progress-count {
    position: absolute;
    color: #e9f1e5;
    top: -70%;
    right: 43%;
}

.satusHeader-progress_inner {
    background-color: var(--main-green-color);
}