.popUpCompleted {
    position: fixed;
    top: 35vh;
    left: auto;
    /* background: #b7a30c; */
    backdrop-filter: blur(20px);
    border-radius: 15px;
    box-shadow: 5px 5px 40px #000000;
}

.popUpCompleted-h2 {
    color: #000000;
    font-size: 5vh;
    margin: 35px;
}

.disabled {
    display: none;
}