body {
  margin: 0;
  padding: 0;
  /* background-color: #313552; */
  background-color: #e9f1e5;
  font-family: 'Rubik', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}